:root{
    --dark-blue: #363f5f;
    --green: #49aa26;
    --light-green: #3dd705;
    --red: #e92929
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    font-size: 93.75%;
}

body {
    background: #f0f2f5;
    font-family: 'Poppins', sans-serif;
}

header{
    background: #2d4a22;
    padding:  2rem 0 9rem;
    text-align: center;
}


#logo {
    margin-bottom: 50px;
}




/*====TITTLES====*/

h2 {
    margin: 3.2rem 0 0.8rem 0;
    color: var(--dark-blue);
    font-weight: 400;
}

/*=======MAIN=====*/

.container {
    width: min(90vw, 900px);
    margin: auto;
}

/*====BALANCE====*/

#balance {
    margin-top: -7rem;
}

#balance h2{
    color: white;
    margin-top: 0;
}

/*====CARDS====*/

.card {
    background: white;
    padding: 1.5rem 2rem;
    border-radius: .25rem;
    margin-bottom: 2rem;
}

.card h3{
    font-weight: 400;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card p{
    font-size: 2rem;
    line-height: 3rem;
    margin-top: 1rem;
}

.card.total {
    background:var(--green);
    color: white;
}

/*====TABLE====*/

#transactions{
    display: block;
    overflow-x: auto;

}

#data-table{
    width: 100%;
    border-spacing: 0 0.5rem;
    color: #969cb3;
}

table th {
    background: white;
    
    font-weight: normal;
    padding: 1rem 2rem;
    text-align: left;
}

table td {
    background: white;
    padding: 1rem 2rem;
}

table tbody tr {
    opacity: .7;
    transition: opacity 0.5s;
}
table tbody tr:hover{
    opacity: .5;
}

table thead tr th:first-child,
table tbody tr td:first-child
{
    border-radius: .25rem 0 0 .25rem;
}

table thead tr th:last-child,
table tbody tr td:last-child
{
    border-radius: 0 .25rem .25rem 0;
}

td.description {
    color: var(--dark-blue);
}

td.income{
    color: #12a454;
}

td.expense{
    color: #e92929;
}

/*====MODAL====*/

.modal-overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;
    z-index: 999;
}

.modal-overlay.active{
    opacity: 1.0;
    visibility: visible;
}

.modal{
    background: #f0f2f5;
    padding: 2.4rem;
    position: relative;
    width: 95%;
    max-width: 500px;
    z-index: 100;
    border-radius: .25rem;
}

/*====FORM====*/

#form{
    max-width: 500px;
}

#form h2{
    margin-top: 0;
}

input {
    border: none;
    border-radius: .25rem;
    width: 100%;
    padding: .8rem;
    outline-color: var(--green);
}

.input-group {
    margin-top: .8rem;
}

.input-group small{
    opacity: .4;
}

.input-group.actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-group.actions .button,
.input-group.actions button
{
    width: 48%;
    cursor: pointer;
}




/*====FOOTER====*/

footer{
    text-align: center;
    padding: 4rem 0 2rem;
    color: var(--dark-blue);
    opacity: .6;
}

/*====SCREEN READER====*/

.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border-width: 0;
}

/*====BUTTONS && LINKS ====*/

a {
    color: var(--green);
    text-decoration: none;
    transition: color 0.5s;
    
}

a:hover {
    color: var(--light-green);
}

button{
    width: 100%;
    height: 50px;
    border: none;
    color: white;
    background: var(--green);
    border-radius: .25rem;
    cursor: pointer;
    transition: background-color .5s;
    font-weight: 600;
}

button:hover{
    background-color: var(--light-green);
}

.button.new {
    display: inline-block;
    margin-bottom: .8rem;
}

.button.cancel{
    color: var(--red);
    border: 2px solid var(--red);
    border-radius: .25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    opacity: .6;
    transition: background-color 0.5s, color .5s;
}

.button.cancel:hover{
    background-color: var(--red);
    color: white;
}

/*====RESPONSIVE====*/

@media (min-width: 800px){
    html{
        font-size: 87.5%;
    }

    #balance{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 2rem;
    }
}

/*====ANIMATIONS====*/

#incomeImg {
    animation: rotate-scale-up 0.6s ease-in-out 1s both;
}

#expenseImg {
    animation: rotate-scale-up 0.6s ease-in-out 1.4s both;
}

#totalImg{
    animation: rotate-scale-up 0.6s ease-in-out 1.6s both;
}

#removeImg{
    animation: wobble-hor-bottom 0.8s both;
}


@keyframes rotate-scale-up {
    0% {
      transform: scale(1) rotateZ(0);
    }
    50% {
      transform: scale(1.5) rotateZ(180deg);
    }
    100% {
      transform: scale(1) rotateZ(360deg);
    }
}
@keyframes wobble-hor-bottom {
    0%,
    100% {
      transform: translateX(0%);
      transform-origin: 50% 50%;
    }
    15% {
      transform: translateX(-30px) rotate(-6deg);
    }
    30% {
      transform: translateX(15px) rotate(6deg);
    }
    45% {
      transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
      transform: translateX(9px) rotate(2.4deg);
    }
    75% {
      transform: translateX(-6px) rotate(-1.2deg);
    }
  }

